.my_skills {
    background-color: #170550;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    padding: 50px;
    height: 100vh;
}

.skills {
    /* badckground-color: black; */
    width: 80%;
    margin-top: 150px;
}

.skills li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.skills li .percent_base {
    width: 500px;
    height: 10px;
    background-color: #43366A;
    border-radius: 20px;
}

.percent_base .percent {
    background-color: #F86F03;
    height: 10px;
    border-radius: inherit;
}