
.header {
    background-color: #170550;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}

.header_link {
    width: 50%;
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    font-family: 'Exo 2', sans-serif;
    font-weight: 600;
    font-size: 18px;
}

.header_link > a {
    text-decoration: none;
    color: #FFFFFF;

}

.header_link > a:hover {
    text-decoration: none;
    color: #F86F03;

}

.header > button {
    width: 150px;
    height: 40px;
    background-color: #FFFFFF;
    color: #461959;
    border-radius: 20px;
    font-family: 'Exo 2', sans-serif;
    font-weight: 600;
    font-size: 18px;
    border: none;
}

.header > button:hover {
    background-color: #F86F03;
    color: #FFFFFF;
}