.contact {
    background-color: #170550;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    padding: 50px;
    height: 100vh;
}

.contact_content {
    /* background-color: aqua; */
    width: 100%;
    display: flex;
}

.contact_info {
    /* background-color: black; */
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact_info li {
    display: flex;
    gap: 30px;
    margin-bottom: 20px;
}

.contact_info li *{
    font-size: 20px;
    font-weight: 600;

}

.contact_form {
    /* background-color: blue; */
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact_form div {
    width: 660px;
}