.contact {
    background-color: #170550;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    padding: 50px;
    height: 100vh;
}