.banner {
    background-color: #31065A;
    color: white;
    display: flex;
    flex-direction: row;
    font-family: 'Exo 2', sans-serif;
    align-items: start;
    text-align: center;
    padding: 80px;
    height: 90vh;
}

.banner_text {
    width: 50%;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: left;
    /* background-color: aqua; */
    /* margin: 0 0 0 150px; */
}

.banner_text > * {
    margin-bottom: 20px;
}

.text > * {
    margin-top: 20px;
    /* background-color: bisque; */
}

.text > h2 {
    font-weight: 600;
    font-size: 30px;
}

.text > h1 {
    font-weight: 700;
    font-size: 60px;
}

.social_network_banner {
    /* background-color: blue; */
    display: flex;
    gap: 15px;
}

.social_network_banner > a > img {
    border: 3px solid white;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    padding: 4px;
}

.social_network_banner > a > img:hover {
    border: 3px dashed #F86F03;
}

.banner_image {
    width: 50%;
    /* margin: 0 150px 0 0; */
    /* background-color: gray; */
}

.banner_image > img {
    /* background-color: bisque; */
    width: 70%;
}

.orange_text {
    color: #F86F03;

}

.banner_btn > * {
    width: 200px;
    height: 41px;
    color: #FFFFFF;
    background-color: #F86F03;
    border-radius: 20px;
    font-weight: 600;
    border: none;
}

.banner_btn > *:hover {
    color: #461959;
    background-color: #FFFFFF;
}